In [2]:
import numpy as np
import pandas as pd

**Series From LIST**

In [4]:
country=["India","Srilanka","USA","Australia"]
pd.Series(country)

0        India
1     Srilanka
2          USA
3    Australia
dtype: object

In [25]:
#integers
runs=[32,45,56,76,8,9]
runs_series=pd.Series(runs)
runs_series

0    32
1    45
2    56
3    76
4     8
5     9
dtype: int64

In [8]:
#custom index
marks=[45,67,89,98,76]
subs =["eng","maths","tel","sci","soc"]
pd.Series(marks,index=subs)

eng      45
maths    67
tel      89
sci      98
soc      76
dtype: int64

In [10]:
#setting a name
mark=pd.Series(marks,index=subs, name="Ravi's marks")
mark

eng      45
maths    67
tel      89
sci      98
soc      76
Name: Ravi's marks, dtype: int64

**Series From dict**

In [14]:
marks={
    "maths":98,
    "eng":99,
    "tel":100,
    "Science":89
}
marks_series= pd.Series(marks,name="Ram's MArks")
marks_series

maths       98
eng         99
tel        100
Science     89
Name: Ram's MArks, dtype: int64

**Series Attributes**

In [17]:
#size
marks_series
marks_series.size

4

In [18]:
#dtype
marks_series.dtype

dtype('int64')

In [19]:
#name
marks_series.name

"Ram's MArks"

In [20]:
#is_unique
marks_series.is_unique

True

In [21]:
pd.Series([1,1,2,3,3,43,43]).is_unique

False

In [22]:
#index
marks_series.index

Index(['maths', 'eng', 'tel', 'Science'], dtype='object')

In [26]:
runs_series.index

RangeIndex(start=0, stop=6, step=1)

In [27]:
#values
marks_series.values

array([ 98,  99, 100,  89], dtype=int64)

**Series Using read_csv**

In [30]:
#with one col
type(pd.read_csv("subs.csv"))

pandas.core.frame.DataFrame

In [31]:
df =pd.read_csv("subs.csv")

In [34]:
df=df.squeeze()

In [35]:
df

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [65]:
ipl=pd.read_csv("kohli_ipl.csv",index_col="match_no")

In [66]:
ipl=ipl.squeeze()

In [67]:
ipl

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [42]:
mvi =pd.read_csv("bollywood.csv",index_col="movie")

In [43]:
mvi=mvi.squeeze()

In [44]:
mvi

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

**Series MEthods**

In [46]:
#head and tail
df.head()

0    48
1    57
2    40
3    43
4    44
Name: Subscribers gained, dtype: int64

In [47]:
ipl.head(3)

match_no
1     1
2    23
3    13
Name: runs, dtype: int64

In [48]:
mvi.tail(4)

movie
Aankhen (2002 film)     Amitabh Bachchan
Saathiya (film)             Vivek Oberoi
Company (film)                Ajay Devgn
Awara Paagal Deewana        Akshay Kumar
Name: lead, dtype: object

In [50]:
#sample
mvi.sample()

movie
Mastizaade    Tusshar Kapoor
Name: lead, dtype: object

In [51]:
mvi.sample(3)

movie
Ghayal: Once Again        Sunny Deol
Befikre                 Vaani Kapoor
Good Boy Bad Boy      Tusshar Kapoor
Name: lead, dtype: object

In [52]:
#value_counts
mvi.value_counts()

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Akanksha Puri        1
Edwin Fernandes      1
Name: count, Length: 566, dtype: int64

In [61]:
#sort_values
# ipl.sort_values(ascending=False).head(1).values[0]
ipl.sort_values(ascending=False)

match_no
128    113
126    109
123    108
164    100
120    100
      ...
93       0
211      0
130      0
8        0
135      0
Name: runs, Length: 215, dtype: int64

In [63]:
ipl=ipl.sort_values()

In [64]:
ipl

match_no
87       0
211      0
207      0
206      0
91       0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

In [70]:
#sort_index
mvi=mvi.sort_index()
mvi

movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object

**Series Math methods**

In [71]:
#count-one diff from size is count doesn't include missing values
ipl.count()

215

In [73]:
#sum->product
df.sum()

49510

In [75]:
df.product()

0

In [82]:
#mean->median->mode->std->var
print(df.mean())
print(df.median())
print(mvi.mode())
print(df.std())
print(ipl.var())

135.64383561643837
123.0
0    Akshay Kumar
Name: lead, dtype: object
62.67502303725269
688.0024777222344

In [83]:
#min/max
print(df.min())
print(df.max())

33
396

In [85]:
#describe
df.describe()

count    365.000000
mean     135.643836
std       62.675023
min       33.000000
25%       88.000000
50%      123.000000
75%      177.000000
max      396.000000
Name: Subscribers gained, dtype: float64

**Series Indexing**